1577_generate-audio-from-text-using-openai-text-to-speech-workflow.json
{
  "id": "OVSyGmI6YFviPu8Q",
  "meta": {
    "instanceId": "fb261afc5089eae952e09babdadd9983000b3d863639802f6ded8c5be2e40067",
    "templateCredsSetupCompleted": true
  },
  "name": "Generate audio from text using OpenAI - text-to-speech Workflow",
  "tags": [],
  "nodes": [
    {
      "id": "c40966a4-1709-4998-ae95-b067ce3496c9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1320,
        200
      ],
      "parameters": {
        "options": {},
        "respondWith": "binary"
      },
      "typeVersion": 1.1
    },
    {
      "id": "ba755814-75e6-4e16-b3a6-50cf4fc06350",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        480,
        200
      ],
      "webhookId": "28feeb38-ef2d-4a2e-bd7c-25a524068e25",
      "parameters": {
        "path": "generate_audio",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "ac46df50-cb1f-484c-8edf-8131192ba464",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        960,
        200
      ],
      "parameters": {
        "input": "={{ $json.body.text_to_convert }}",
        "voice": "fable",
        "options": {},
        "resource": "audio"
      },
      "credentials": {
        "openAiApi": {
          "id": "2Cije3KX7OIVwn9B",
          "name": "n8n OpenAI"
        }
      },
      "typeVersion": 1.3
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84f1b893-e1a3-40c3-83b0-7cd637b353c4",
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
